<div class=" pt-2">
  <form [formGroup]="form">
    <input type="file" class="custom-file-input" id="validatedCustomFile" accept="image/*" required (change)="onChange($event)" #inputImg hidden formControlName="foto">
  </form>

  <div *ngIf="loadingImg" class="center" style="margin: 10px auto; height: 300px; width: 300px; ">
    Carregando ...
  </div>
  <div *ngIf="!loadingImg" style="margin: 10px auto;" [style.width]="imgWidth + 'px'" [style.height]="imgHeight + 'px'">
    <img *ngIf="srcImg" [src]="srcImg" style="border: .5px solid #eee; display: block;" [style.width]="imgWidth + 'px'" [style.height]="imgHeight + 'px'">
    <div *ngIf="!srcImg" class="preview-span center" (click)="inputImg.click()">
      Selecione a imagem
    </div>
  </div>
  <div class="center" *ngIf="srcImg">
    <div class="center" *ngIf="!btnsEscolhaRedeSocial">
      <button type="button" class="btn btn-primary mr-1" (click)="escolherRedeSocial('Facebook')">Facebook</button>
      <button type="button" class="btn btn-primary mr-1" (click)="escolherRedeSocial('Instagram')">Instagram</button>
      <button type="button" class="btn btn-primary mr-1" (click)="escolherRedeSocial('Twitter')">Twitter</button>
      <button type="button" class="btn btn-primary mr-1" (click)="voltar()">Voltar</button>
    </div>
    <div class="center" *ngIf="btnsEscolhaRedeSocial">
      <button type="button" class="btn btn-primary mr-1" (click)="escolherTipo('perfil')">Perfil</button>
      <button type="button" class="btn btn-primary mr-1" (click)="escolherTipo('feed')">Feed</button>
      <button type="button" class="btn btn-primary mr-1" *ngIf="storiesBtn" (click)="escolherTipo('stories')">Stories</button>
      <button type="button" class="btn btn-primary mr-1" (click)="escolherTipo('capa')">Capa</button>
      <button type="button" class="btn btn-primary mr-1" (click)="voltarOpcoes()">Voltar</button>
    </div>
  </div>
</div>
