<div class="pt-2">
  <div class="center">
    <h4>{{redeSocialSelecionda}}</h4>
  </div>
  <form [formGroup]="form">
    <input type="file" class="custom-file-input" id="validatedCustomFile" accept="image/*" required
      (change)="onChange($event)" #inputImg hidden formControlName="foto" />
  </form>
  <div *ngIf="loadingImg" class="center" style="margin: 10px auto; height: 300px; width: 300px">
    Carregando ...
  </div>

  <div *ngIf="!loadingImg" style="margin: 10px auto;" class="center" >

    <image-cropper
    *ngIf="imgEvent && !fotoConfirmada"
    [imageChangedEvent]="imgEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="imgWidth / imgHeight"
    format="png"
    (imageCropped)="imageCropped($event)"
    ></image-cropper>

    <img *ngIf="fotoConfirmada" [src]="croppedImage" style="display: block"  />

    <div *ngIf="!imgEvent" class="preview-span center" (click)="inputImg.click()">
      Selecione a imagem
    </div>
  </div>
  <div class="center" *ngIf="imgEvent && !fotoConfirmada">
    <div class="center" *ngIf="!btnsEscolhaRedeSocial">
      <button type="button" class="btn btn-primary mr-1" (click)="escolherRedeSocial('Facebook')">
        Facebook
      </button>
      <button type="button" class="btn btn-primary mr-1" (click)="escolherRedeSocial('Instagram')">
        Instagram
      </button>
      <button type="button" class="btn btn-primary mr-1" (click)="escolherRedeSocial('Twitter')">
        Twitter
      </button>
      <button type="button" class="btn btn-primary mr-1" (click)="voltarInicio()">
        Voltar
      </button>
    </div>
    <div class="center" *ngIf="btnsEscolhaRedeSocial">
      <button type="button" class="btn btn-primary mr-1" (click)="escolherTipo('perfil')">
        Perfil
      </button>
      <div class="dropdown mr-1" >
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Feed
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button type="button" *ngIf="redeSocialSelecionda !== 'Twitter'" (click)="escolherTipo('feedRetrato')" class="dropdown-item">
            Retrato
          </button>
          <button type="button" (click)="escolherTipo('feedPaisagem')" class="dropdown-item">
            Paisagem
          </button>
          <button type="button" (click)="escolherTipo('feedQuadrado')" class="dropdown-item">
            Quadrado
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-primary mr-1" *ngIf="storiesBtn" (click)="escolherTipo('stories')">
        Stories
      </button>
      <button type="button" class="btn btn-primary mr-1" (click)="escolherTipo('capa')"
      *ngIf="redeSocialSelecionda !== 'Instagram'">
        Capa
      </button>
      <button type="button" class="btn btn-primary mr-1" (click)="voltarOpcoes()">
        Voltar
      </button>
      <button type="button" class="btn btn-success mr-1" (click)="postar()">
        Postar
      </button>
    </div>
  </div>
  <div class="center" *ngIf="fotoConfirmada">
    <button type="button" class="btn btn-primary mr-1" (click)="fotoConfirmada = false">
      Voltar
    </button>
    <button  type="button" class="btn btn-primary mr-1" (click)="voltarInicio()">
      Escolher nova foto
    </button>
  </div>
</div>
